<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="logger_path" value=".\Logfiles\Log.txt" />

    <add key="deviceName" value="DeviceSimulator" />
    <add key="IotHubUri" value="cspiothubt5fmowudia5fa.azure-devices.net" />
    <add key="IotConnectionString" value="HostName=cspiothubt5fmowudia5fa.azure-devices.net;SharedAccessKeyName=iothubowner;SharedAccessKey=G0Y8FSMrCVxenjd7No5mhEwVr28ohoDN45Oz3IL0B7s=" />
  
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>